/* 
    Autor : Santiago Fidalgo
    UO265578
    Descripción de la hoja de estilo:
*/

/* Especifidad = 001 */
body {
    font-family: Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #000;
    background-color: #A9A7A7;
}
/* Especifidad = 001 */
header {
    background-color: #F67031;

    text-transform: uppercase;
    padding: 6.25em 0em;
}
/* Especifidad = 001 */
h2 {
    text-decoration: underline;
    font-family: Arial, Helvetica, serif;
    background-color: #F67031;
    /*
        El background color se hereda de body 
    */
}

/* Especifidad = 001 */
nav {
    font-family: Verdana, serif;
}
/* Especifidad = 001 */
ul {
    border-width: 0.5em;
    border-radius: 2.5em;
}
/* Especifidad = 001 */
a {
    color: #000;
}
/* Especifidad = 001 */
footer {
    background-color: #F67031;;
}
/* Especifidad = 001 */
h3,
h4,
h5,
h6 {
    text-decoration: underline;
    font-family: Arial, Helvetica, serif;
    font-style: italic;
    background-color: #F67031;;
}
/* Especifidad = 011 */
td:nth-child(1) {
    font-weight: 700;
}
/* Especifidad = 001 */
th {
    background-color: #F67031;;
    font-weight: 700;
}
/* Especifidad = 001 */
table {
    border: 0.25em solid black;
}