/* 
    Autor : Santiago Fidalgo
    UO265578
    Descripción de la hoja de estilo:
*/


/* Especifidad = 001 */
body {
    line-height: 1.8;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-areas:
      'header header'
      'menu main'
      'footer footer';

}
/* Especifidad = 001 */
header{
    grid-area: header;
}

/* Especifidad = 001 */
h1 {
    text-align: center;
}
/* Especifidad = 001 */
nav {
    grid-area: menu;
    float: left;
    padding-right: 6.25em;
    padding-bottom: 0.25em;
}
/* Especifidad = 001 */
img {
    grid-area: main;
    float: right;
    padding-left: 0.625em;
    padding-bottom: 0.3125em;
}
/* Especifidad = 001 */
video {
    width: 100%;
    height: 37.5em;
    object-fit: cover;
    z-index: -100;
}
/* Especifidad = 001 */
audio {
    width: 100%;
    object-fit: cover;
    z-index: -100;
}
/* Especifidad = 001 */
main {
    grid-area: main;
    padding-top: 2.5em;
    padding-left: 0.3125em;
}
/* Especifidad = 001 */
td {
    text-align: center;
}
/* Especifidad = 001 */
table {
    align-content: center;
}
/* Especifidad = 001 */
footer {
    grid-area: footer;
}